{%extends "layout.html"%} {%block content%}
<div class="achievements">
    <h2>Achievements</h2>
    <pre>
    • Successfully pitched and implemented ideas about automating repetitive tasks that reduced the Average Handling Time for those tasks 
      and increased overall resource optimization for the project.
    • Being part of a project onboarding team and actively contributing to the transition phase of the same.
    • Enabled the team to provide better responses to client queries.
    </pre>
</div>
{%endblock%}