{%extends "layout.html"%} {%block content%}
<div class="experience">
    <h2>Professional Experience</h2>
    <pre> 
    Infosys Limited                                                                                     May 2018 – Present

        Client 2 (Indian Government, Domain: Confidential) Location – New Delhi
        Role: Consultant
        • Acted as primary SPOC for Operations team during transition phase of project onboarding.
        • Managing client expectations during the same and providing optimum solutions to their queries.
        • Currently serving as SPOC between the Operations team and other government agencies directly involved
          in Indian trade cycle.
        • Analysed and provided insights on existing processes for optimizing it and therefore reducing the TAT.

        Role: Automation Engineer
        • Automation of daily report creation services provided by the Operation team using Shell Scripting and Python (3.7.2).
        • Used numpy and pandas for data manipulation, matplotlib for creating graphs from the data and then sending the
          same via email to stakeholders using smtplib.

        Client 1 (Domain: Financial Services) Location- Pune
        Role: Master Data Support
        • Provide Master Data Management support for Mortgage application.
        • Create SQL patches to rectify any anomaly and validate the quality of the data synced to the database.

        Role: Automation Engineer
        • Automation of repetitive tasks using Python (Version: 3.6). Such processes include generation of daily
          business reports based on the EOD data, application of validations on the extracted data based on business logic
          and send the reports to the stakeholders via email.
        • Automation of daily transaction reports that has aided in optimizing resource utilization.

        Role: Chatbot Developer
        • Briefly worked on design and enhance of a conversational Chabot using Python.
        • Clean and analyze data coming from bot conversation.
        • Define recurring questions that can be handled automatically or as defined by the client.
        • Improve dialog flow to handle those recurring questions / develop new actions.

        Role: Production Support
        • Provide support for applications (IGTB SME and TCS Bancs) that aid in Financial Services (Corporate Loans).
        • Execute and monitor UNIX and PL/SQL scripts.
        • Providing business reports to users.
        • Liaise with clients directly to define and understand business and workflow requirements.
        • Act as primary technical contact to allocated clients for new requirements, support and project deliverables.
        • Respond to reports of problems via phone and email.
        • Troubleshoot and investigate in order to create appropriate solutions to immediate problems.
        • Provide periodic updates about investigations to the clients. Publish RCA notes upon conclusion of
          investigation.
        • Work with development & QA teams to get application defects fixed. Apply patch releases into UAT and
          Production environments. Communicate such release notes to the clients and other relevant parties.

    Essentials, Kolkata                                                                                    Apr 2017-Oct-2017
        Pre Sales Consultant (Intern)
        • Providing clients with solutions for home and office security.
    </pre>
</div>
{%endblock%}