{%extends "layout.html"%} {%block content%}
<div class="skills">
    <h2>Skills</h2>
    <pre>
    • Programming Skills: C. Python (3.6 and 3.7.2), R, SQL, T-SQL, Shell, and Core Java.
    • Proficiency in Python libraries: Numpy, Pandas, Matplotlib, Seaborn, Scikit-learn, Chatterbot, Flask, Pysftp, Openpyxl, Smtplib, Pymssql, cx_Oracle,
      Selenium.
    • Tools: Tableau 2020.3
    • Other Technical Skills: Oracle Database 11g (11.2.0.4), 12c (12.1.0.2) and MS SQL Server 2008, 2012, Macro creation in Excel.
    • Communication Skills: English, Bengali, Hindi.
    • Leadership Skills:
        • Acting as SPOC for the Operations team to different government agencies.
        • Acted as SPOC for the Operations team during project onboarding phase.
        • Provided guidance to a team of L1 support engineers and aided them in understanding the importance of SLA.
        • Worked as the class representative of the 2016 batch of the Electrical department.
    </pre>
</div>
{%endblock%}