{%extends "layout.html"%} {%block content%}
<div class="training">
    <h2>Scholastic and Training</h2>
    <pre>
    • Courses on Data Science and Automation Using Python (ongoing).
    • Introduction to R programming.
    • Six Sigma Green Belt (International Six Sigma Institute) (2019)
      Authorized Certification ID: 04840839159209
    • Vocational Training at Farakka Super Thermal Power Station (2100 MW) NTPC Ltd. (2016)
    • B. Tech (EE): MAKAUT, formerly WBUT (2016)
    • School – Hirendra Leela Patranavis School (2012)
    </pre>
</div>
{%endblock%}